# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Vector DB / Indexes
chromadb/
*.faiss
*.pkl

# Generated folders
uploads/
database/
extracted_book/

# Large datasets
data/

